<mat-card class="example-card"  >
  <mat-card-content>
    <div fxLayout="row wrap" fxLayoutGap="30px grid">
      <div
        fxFlex="25"
        fxFlex.sm="33"
        fxFlex.xs="50"
        *ngFor="let bus of busList"
      >
        <mat-grid-list cols="1" rowHeight="1:1" class="grid-list">
          <mat-grid-tile
            class="tile"
            [routerLink]="['/view-table-data', bus.busId]"
            routerLinkActive="router-link-active"
          >
            <div>
              <img
                src="https://img.freepik.com/premium-vector/bus-icon_609277-1523.jpg?w=2000"
                width="100px"
                height="100px"
                alt="bus_img"
              />
              <h6>Id: {{ bus.busId }}</h6>
              <h6>Starting point: {{ bus.startingPoint }}</h6>
              <h6>Destination: {{ bus.destination }}</h6>
              <h6>
                Departure:
                {{ bus.scheduleDepartureDateTime | date : "short" : "UTC" }}
              </h6>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>
  </mat-card-content>
</mat-card>
