.tile{
    border: 5px solid #cccccc;
    text-align: center;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px #4a4b4a;
}
.tile:hover {
  background-color: rgb(213, 244, 219);
}
.mat-card {
  cursor: pointer;
}

h6 {
  font-size: medium;
}
