.buttonApply{
    background-color: #b48eb3;
    color: white;
  }
.marginApply{
    margin: 5px 5px 5px 5px;
}
.example-spacer {
  flex: 1 1 auto;
  text-align: center;
}
.paginator{
  position: fixed;
}