<button
  mat-flat-button
  (click)="backClicked()"
  [ngClass]="'buttonApply marginApply'"
>
  <mat-icon>arrow_back </mat-icon>
</button>
<div class="table-div">
  <form
    [formGroup]="addBusForm"
    class="example-form"
    (ngSubmit)="onAddBus(addBusForm)"
    novalidate
  >
    <table>
      <tr>
        <td>Bus Id</td>
        <td>
          <mat-form-field appearance="outline">
            <input
              matInput
              type="number"
              placeholder="busId"
              formControlName="busId"
            />
          </mat-form-field>

          <mat-error *ngIf="addBusForm.controls['busId']?.invalid && addBusForm.controls['busId']?.touched ">
                  Bus Id is Required
          </mat-error>
        
         
        </td>
      </tr>

      <tr>
        <td>Bus Service No</td>
        <td>
          <mat-form-field appearance="outline">
            <input
              type="number"
              matInput
              placeholder="busServiceNum"
              formControlName="busServiceNum"
            />
          </mat-form-field>
          <mat-error *ngIf="addBusForm.controls['busServiceNum']?.invalid && addBusForm.controls['busServiceNum']?.touched ">
            busServiceNum is Required
          </mat-error>
        </td>
      </tr>

      <tr>
        <td>Bus Plate Num</td>
        <td>
          <mat-form-field appearance="outline">
            <input
              type="text"
              matInput
              placeholder="busPlateNum"
              formControlName="busPlateNum"
            />
          </mat-form-field>
          <mat-error *ngIf="addBusForm.controls['busPlateNum']?.invalid && addBusForm.controls['busPlateNum']?.touched ">
            busPlateNum is Required
          </mat-error>
        </td>
      </tr>
      <tr>
        <td>Bus Type</td>
        <td>
          <mat-form-field appearance="outline">
            <mat-label>Bus Type</mat-label>
            <mat-select
              placeholder="busType"
              matInput
              formControlName="busType"
            >
              <mat-option
                *ngFor="let busType of busTypeSelect"
                [value]="busType.value"
              >
                {{ busType.value }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-error *ngIf="addBusForm.controls['busType']?.invalid && addBusForm.controls['busType']?.touched ">
            busType is Required
          </mat-error>
        </td>
      </tr>

      <tr>
        <td>Bus Service Type</td>
        <td>
          <mat-form-field appearance="outline">
            <mat-label>Service Type</mat-label>
            <mat-select
              placeholder="busServiceType"
              formControlName="busServiceType"
            >
              <mat-option
                *ngFor="let busType of busServiceTypeSelect"
                matInput
                [value]="busType.value"
              >
                {{ busType.value }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-error *ngIf="addBusForm.controls['busServiceType']?.invalid && addBusForm.controls['busServiceType']?.touched ">
            busServiceType is Required
          </mat-error>
        </td>
      </tr>
      <tr>
        <td>busCapacity</td>
        <td>
          <mat-form-field appearance="outline">
            <input
              type="number"
              matInput
              placeholder="busCapacity"
              formControlName="busCapacity"
            />
          </mat-form-field>
          <mat-error *ngIf="addBusForm.controls['busCapacity']?.invalid && addBusForm.controls['busCapacity']?.touched ">
            busCapacity is Required
          </mat-error>
        </td>
      </tr>

      <tr>
        <td>Starting Point</td>
        <td>
          <mat-form-field appearance="outline">
            <input
              type="text"
              matInput
              placeholder="startingPoint"
              formControlName="startingPoint"
            />
          </mat-form-field>
          <mat-error *ngIf="addBusForm.controls['startingPoint']?.invalid && addBusForm.controls['startingPoint']?.touched ">
            startingPoint is Required
          </mat-error>
        </td>
      </tr>
      <tr>
        <td>Destination</td>
        <td>
          <mat-form-field appearance="outline">
            <input
              type="text"
              matInput
              placeholder="destination"
              formControlName="destination"
            />
          </mat-form-field>
          <mat-error *ngIf="addBusForm.controls['destination']?.invalid && addBusForm.controls['destination']?.touched ">
            destination is Required
          </mat-error>
        </td>
      </tr>
      <tr>
        <td>No of Stops</td>
        <td>
          <mat-form-field appearance="outline">
            <input
              type="number"
              matInput
              placeholder="busStops"
              formControlName="busStops"
            />
          </mat-form-field>
          <mat-error *ngIf="addBusForm.controls['busStops']?.invalid && addBusForm.controls['busStops']?.touched ">
            busStops is Required
          </mat-error>
        </td>
      </tr>
      <tr>
        <td>Duration</td>
        <td>
          <mat-form-field appearance="outline">
            <input
              type="number"
              matInput
              placeholder="busDuration"
              formControlName="busDuration"
            />
          </mat-form-field>
          <mat-error *ngIf="addBusForm.controls['busDuration']?.invalid && addBusForm.controls['busDuration']?.touched ">
            busDuration is Required
          </mat-error>
        </td>
      </tr>
      <tr>
        <td>Scheduled Departure</td>
        <td>
          <mat-form-field>
            <input
              type="datetime-local"
              matInput
              placeholder="scheduleDepartureDateTime"
              formControlName="scheduleDepartureDateTime"
            />
          </mat-form-field>
          <!-- <mat-error *ngIf="addBusForm.controls['scheduleDepartureDateTime']?.invalid || addBusForm.controls['scheduleDepartureDateTime']?.errors?.['pattern']">
            scheduleDepartureDateTime pattern is wrong

          </mat-error> -->
          <mat-error *ngIf="addBusForm.controls['scheduleDepartureDateTime']?.invalid && addBusForm.controls['scheduleDepartureDateTime']?.touched ">
            scheduleDepartureDateTime is Required
          </mat-error>
         
        </td>
      </tr>
      <tr>
        <td>Scheduled Arrival</td>
        <td>
          <mat-form-field>
            <input
              type="datetime-local"
              matInput
              placeholder="scheduleArrivalDateTime"
              formControlName="scheduleArrivalDateTime"
            />
          </mat-form-field>
          <mat-error *ngIf="addBusForm.controls['scheduleArrivalDateTime']?.invalid && addBusForm.controls['scheduleArrivalDateTime']?.touched ">
            scheduleArrivalDateTime is Required
          </mat-error>
        </td>
      </tr>
      <tr>
        <td>Estimated Arrival</td>
        <td>
          <mat-form-field>
            <input
              type="datetime-local"
              matInput
              placeholder="estimatedArrivalDateTime"
              formControlName="estimatedArrivalDateTime"
            />
          </mat-form-field>
          <mat-error *ngIf="addBusForm.controls['estimatedArrivalDateTime']?.invalid && addBusForm.controls['estimatedArrivalDateTime']?.touched ">
            estimatedArrivalDateTime is Required
          </mat-error>
        </td>
      </tr>

      <tr>
        <td>Fare Amount</td>
        <td>
          <mat-form-field appearance="outline">
            <input
              type="number"
              matInput
              placeholder="fareAmount"
              formControlName="fareAmount"
            />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>Tax</td>
        <td>
          <mat-form-field appearance="outline">
            <input
              type="number"
              matInput
              placeholder="fareTax"
              formControlName="fareTax"
            />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>Total Fare</td>
        <td>
          <mat-form-field appearance="outline">
            <input
              type="number"
              matInput
              placeholder="totalFare"
              formControlName="totalFare"
            />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>Rating</td>
        <td>
          <mat-form-field appearance="outline">
            <input
              type="number"
              matInput
              placeholder="rating"
              formControlName="rating"
            />
          </mat-form-field>
        </td>
      </tr>

      <tr>
        <td class="radio-class">Flexi Ticket</td>
        <td class="radio-class">
          <mat-radio-group formControlName="flexiTicket">
            <mat-radio-button
              matInput
              class="example-radio-button"
              *ngFor="let choice of chooser"
              [value]="choice"
              class="radio-button"
            >
              {{ choice }}
            </mat-radio-button>
          </mat-radio-group>
        </td>
      </tr>
      <tr>
        <td class="radio-class">Movie Enabled</td>
        <td class="radio-class">
          <mat-radio-group formControlName="movieEnabled">
            <mat-radio-button
              matInput
              class="example-radio-button"
              *ngFor="let choice of chooser"
              [value]="choice"
              class="radio-button"
            >
              {{ choice }}
            </mat-radio-button>
          </mat-radio-group>
        </td>
      </tr>

      <tr>
        <td class="radio-class">Running Status</td>
        <td class="radio-class">
          <mat-radio-group formControlName="runningStatus">
            <mat-radio-button
              matInput
              class="example-radio-button"
              *ngFor="let choice of chooser"
              [value]="choice"
              class="radio-button"
            >
              {{ choice }}
            </mat-radio-button>
          </mat-radio-group>
        </td>
      </tr>
      <br />
      <div>
        <button
          id="add-bus"
          type="submit"
          mat-raised-button
          [disabled]="addBusForm.invalid"
        >
          {{ editForm === undefined ? "Add" : "Update" }} Bus Data
        </button>
      </div>
    </table>
  </form>
</div>
