table {  
    font-family:sans-serif;
    
  }
  td{
    padding: 5px ;
    text-align:center;
    background-color:#eee;    

  }
div{
    text-align: center;
    margin-left: 140px;
}
table{
    width: 80%;
}
  
  