.table-class {
  display: flex;
}
.example-spacer {
  flex: 1 1 auto;
  text-align: center;
}
table {
  width: 100%;
}
.mat-row {
  height: auto;
  cursor: pointer;
}
.table-class {
  overflow: scroll;
  margin-bottom: 55px;
}
.table-mat {
  background-color: #eae7e7;
  overflow: auto;
  /* margin-top: 70px; */
}
.table-head {
  background-color: #b1c0db;
}

a {
  text-decoration: none;
}
.mat-cell,
.mat-header-cell {
  padding: 8px 8px 8px 8px;
}
.mat-row:hover {
  background-color: rgb(214, 200, 184);
}
.example-radio-button {
  margin: 5px;
}
mat-grid-tile {
  background: lightblue;
}

.buttonApply {
  background-color: #e6545b;
  color: black;
}

.mat-mini-fab {
  background-color: #b1c0db;
}
.no-sort-header {
  padding: 0px, 20px, 35px, 20px;
}
.mat-icon-button {
  color: rgb(67, 49, 26);
}
.mat-icon {
  color: black;
}
