<div class="table-class">
  <table mat-table [dataSource]="dataSource" class="table-mat">
    <ng-container matColumnDef="busId">
      <th mat-header-cell *matHeaderCellDef>
        <h4>BusId</h4>
        <button
          mat-mini-fab
          matTooltip="Sort by Ascending/Descending"
          (click)="sortSelect('busId')"
        >
          <img
            src="https://img.icons8.com/metro/2x/sorting-arrows.png"
            alt="sort"
            width="20px"
            height="20px"
          />
        </button>
      </th>
      <td mat-cell *matCellDef="let bus">{{ bus.busId }}</td>
    </ng-container>

    <ng-container matColumnDef="busServiceNum">
      <th mat-header-cell *matHeaderCellDef class="header-data">
        <h4>ServiceNo</h4>
        <button
          mat-mini-fab
          matTooltip="Sort by Ascending/Descending"
          (click)="sortSelect('busServiceNum')"
        >
          <img
            src="https://img.icons8.com/metro/2x/sorting-arrows.png"
            alt="sort"
            width="20px"
            height="20px"
          />
        </button>
      </th>
      <td mat-cell *matCellDef="let bus">
        {{ bus.busServiceNum }}
      </td>
    </ng-container>

    <ng-container matColumnDef="busPlateNum">
      <th mat-header-cell *matHeaderCellDef>
        <!-- style="padding: 0px 20px 38px 20px"> -->
        <h4>PlateNo</h4>
        <button mat-mini-fab disabled="true">
          <img
            src="https://img.icons8.com/metro/2x/sorting-arrows.png"
            alt="sort"
            width="20px"
            height="20px"
          />
        </button>
      </th>
      <td mat-cell *matCellDef="let bus">
        {{ bus.busPlateNum }}
      </td>
    </ng-container>
    <ng-container matColumnDef="busType">
      <th mat-header-cell *matHeaderCellDef>
        <h4>BusType</h4>
        <button mat-mini-fab disabled="true">
          <img
            src="https://img.icons8.com/metro/2x/sorting-arrows.png"
            alt="sort"
            width="20px"
            height="20px"
          />
        </button>
      </th>
      <td mat-cell *matCellDef="let bus">{{ bus.busType }}</td>
    </ng-container>

    <ng-container matColumnDef="busServiceType">
      <th mat-header-cell *matHeaderCellDef>
        <h4>BusServiceType</h4>
        <button mat-mini-fab disabled="true">
          <img
            src="https://img.icons8.com/metro/2x/sorting-arrows.png"
            alt="sort"
            width="20px"
            height="20px"
          />
        </button>
      </th>
      <td mat-cell *matCellDef="let bus">{{ bus.busServiceType }}</td>
    </ng-container>
    <ng-container matColumnDef="busCapacity">
      <th mat-header-cell *matHeaderCellDef>
        <h4>Capacity</h4>
        <button
          mat-mini-fab
          matTooltip="Sort by Ascending/Descending"
          (click)="sortSelect('busCapacity')"
        >
          <img
            src="https://img.icons8.com/metro/2x/sorting-arrows.png"
            alt="sort"
            width="20px"
            height="20px"
          />
        </button>
      </th>
      <td mat-cell *matCellDef="let bus">{{ bus.busCapacity }}</td>
    </ng-container>
    <ng-container matColumnDef="startingPoint">
      <th mat-header-cell *matHeaderCellDef>
        <h4>StartingPoint</h4>
        <button mat-mini-fab matTooltip="Sort by Order ASC/DSC" disabled="true">
          <img
            src="https://img.icons8.com/metro/2x/sorting-arrows.png"
            alt="sort"
            width="20px"
            height="20px"
          />
        </button>
      </th>
      <td mat-cell *matCellDef="let bus">{{ bus.startingPoint }}</td>
    </ng-container>
    <ng-container matColumnDef="destination">
      <th mat-header-cell *matHeaderCellDef>
        <h4>Destination</h4>
        <button mat-mini-fab matTooltip="Sort by Order ASC/DSC" disabled="true">
          <img
            src="https://img.icons8.com/metro/2x/sorting-arrows.png"
            alt="sort"
            width="20px"
            height="20px"
          />
        </button>
      </th>
      <td mat-cell *matCellDef="let bus">{{ bus.destination }}</td>
    </ng-container>
    <ng-container matColumnDef="busStops">
      <th mat-header-cell *matHeaderCellDef>
        <h4>BusStops</h4>
        <button
          mat-mini-fab
          matTooltip="Sort by Ascending/Descending"
          (click)="sortSelect('busStops')"
        >
          <img
            src="https://img.icons8.com/metro/2x/sorting-arrows.png"
            alt="sort"
            width="20px"
            height="20px"
          />
        </button>
      </th>
      <td mat-cell *matCellDef="let bus">{{ bus.busStops }}</td>
    </ng-container>
    <ng-container matColumnDef="busDuration">
      <th mat-header-cell *matHeaderCellDef>
        <h4>Duration</h4>
        <button
          mat-mini-fab
          matTooltip="Sort by Ascending/Descending"
          (click)="sortSelect('busDuration')"
        >
          <img
            src="https://img.icons8.com/metro/2x/sorting-arrows.png"
            alt="sort"
            width="20px"
            height="20px"
          />
        </button>
      </th>
      <td mat-cell *matCellDef="let bus">{{ bus.busDuration }}</td>
    </ng-container>
    <ng-container matColumnDef="scheduleDepartureDateTime">
      <th mat-header-cell *matHeaderCellDef>
        <h4>DepartureTime</h4>
        <button
          mat-mini-fab
          matTooltip="Sort by Ascending/Descending"
          (click)="sortSelect('dep_date')"
        >
          <img
            src="https://img.icons8.com/metro/2x/sorting-arrows.png"
            alt="sort"
            width="20px"
            height="20px"
          />
        </button>
      </th>
      <td mat-cell *matCellDef="let bus">
        {{ bus.scheduleDepartureDateTime | date : "short" : "UTC" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="scheduleArrivalDateTime">
      <th mat-header-cell *matHeaderCellDef>
        <h4>ArrivalTime</h4>
        <button
          mat-mini-fab
          matTooltip="Sort by Ascending/Descending"
          (click)="sortSelect('arr_date')"
        >
          <img
            src="https://img.icons8.com/metro/2x/sorting-arrows.png"
            alt="sort"
            width="20px"
            height="20px"
          />
        </button>
      </th>
      <td mat-cell *matCellDef="let bus">
        {{ bus.scheduleArrivalDateTime | date : "short" : "UTC" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="estimatedArrivalDateTime">
      <th mat-header-cell *matHeaderCellDef>
        <h4>EstimatedArrival</h4>
        <button
          mat-mini-fab
          matTooltip="Sort by Ascending/Descending"
          (click)="sortSelect('est_date')"
        >
          <img
            src="https://img.icons8.com/metro/2x/sorting-arrows.png"
            alt="sort"
            width="20px"
            height="20px"
          />
        </button>
      </th>
      <td mat-cell *matCellDef="let bus">
        {{ bus.estimatedArrivalDateTime | date : "short" : "UTC" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="fareAmount">
      <th mat-header-cell *matHeaderCellDef>
        <h4>FareAmount</h4>
        <button
          mat-mini-fab
          matTooltip="Sort by Ascending/Descending"
          (click)="sortSelect('fareAmount')"
        >
          <img
            src="https://img.icons8.com/metro/2x/sorting-arrows.png"
            alt="sort"
            width="20px"
            height="20px"
          />
        </button>
      </th>
      <td mat-cell *matCellDef="let bus">
        {{ bus.fareAmount | currency : "INR" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="fareTax">
      <th mat-header-cell *matHeaderCellDef>
        <h4>FareTax</h4>
        <button
          mat-mini-fab
          matTooltip="Sort by Ascending/Descending"
          (click)="sortSelect('fareTax')"
        >
          <img
            src="https://img.icons8.com/metro/2x/sorting-arrows.png"
            alt="sort"
            width="20px"
            height="20px"
          />
        </button>
      </th>
      <td mat-cell *matCellDef="let bus">
        {{ bus.fareTax | currency : "INR" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="totalFare">
      <th mat-header-cell *matHeaderCellDef>
        <h4>TotalFare</h4>
        <button
          mat-mini-fab
          matTooltip="Sort by Ascending/Descending"
          (click)="sortSelect('totalFare')"
        >
          <img
            src="https://img.icons8.com/metro/2x/sorting-arrows.png"
            alt="sort"
            width="20px"
            height="20px"
          />
        </button>
      </th>
      <td mat-cell *matCellDef="let bus">
        {{ bus.totalFare | currency : "INR" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="flexiTicket">
      <th mat-header-cell *matHeaderCellDef>
        <h4>FlexiTicket</h4>
        <button
          mat-mini-fab
          matTooltip="Sort by Ascending/Descending"
          (click)="sortSelect('flexiTicket')"
        >
          <img
            src="https://img.icons8.com/metro/2x/sorting-arrows.png"
            alt="sort"
            width="20px"
            height="20px"
          />
        </button>
      </th>
      <td mat-cell *matCellDef="let bus">{{ bus.flexiTicket }}</td>
    </ng-container>
    <ng-container matColumnDef="movieEnabled">
      <th mat-header-cell *matHeaderCellDef>
        <h4>MovieEnabled</h4>
        <button
          mat-mini-fab
          matTooltip="Sort by Ascending/Descending"
          (click)="sortSelect('movieEnabled')"
        >
          <img
            src="https://img.icons8.com/metro/2x/sorting-arrows.png"
            alt="sort"
            width="20px"
            height="20px"
          />
        </button>
      </th>
      <td mat-cell *matCellDef="let bus">{{ bus.movieEnabled }}</td>
    </ng-container>
    <ng-container matColumnDef="rating">
      <th mat-header-cell *matHeaderCellDef>
        <h4>Rating</h4>
        <button
          mat-mini-fab
          matTooltip="Sort by Ascending/Descending"
          (click)="sortSelect('rating')"
        >
          <img
            src="https://img.icons8.com/metro/2x/sorting-arrows.png"
            alt="sort"
            width="20px"
            height="20px"
          />
        </button>
      </th>
      <td mat-cell *matCellDef="let bus">{{ bus.rating }}</td>
    </ng-container>
    <ng-container matColumnDef="runningStatus">
      <th mat-header-cell *matHeaderCellDef>
        <h4>RunningStatus</h4>
        <button
          mat-mini-fab
          matTooltip="Sort by Ascending/Descending"
          (click)="sortSelect('runningStatus')"
        >
          <img
            src="https://img.icons8.com/metro/2x/sorting-arrows.png"
            alt="sort"
            width="20px"
            height="20px"
          />
        </button>
      </th>
      <td mat-cell *matCellDef="let bus">{{ bus.runningStatus }}</td>
    </ng-container>
    <ng-container matColumnDef="editBusData">
      <th mat-header-cell *matHeaderCellDef style="padding: 0px 20px 38px 20px">
        <h4>Edit</h4>
      </th>
      <td mat-cell *matCellDef="let bus">
        <button
          mat-icon-button
          color="primary"
          matTooltip="Edit Bus Data"
          [routerLink]="['/editForm', bus.busId]"
          routerLinkActive="router-link-active"
          *ngIf="user === 'manager' || user === 'editor'"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="deleteBusData">
      <th mat-header-cell *matHeaderCellDef style="padding: 0px 20px 38px 20px">
        <h4>Delete</h4>
      </th>
      <td mat-cell *matCellDef="let bus">
        <button
          mat-icon-button
          matTooltip="Delete Bus Data"
          type="button"
          color="primary"
          *ngIf="user === 'manager' || user === 'editor'"
          (click)="onDelete(bus.busId)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr
      mat-header-row
      *matHeaderRowDef="displayedColumns"
      class="table-head"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="showDetails($event, row)"
    ></tr>
  </table>
</div>
