<form [formGroup]="addBusForm" (ngSubmit)="onAddBus()">
  <div>
    <label for="busId">busId</label>
    <mat-form-field appearance="outline" [ngStyle]="{ height: '50px' }">
      <!-- <mat-label>Outline form field</mat-label> -->
      <input matInput formControlName="busId" />
    </mat-form-field>
  </div>
  <div>
    <label for="busServiceNum">busServiceNum</label>
    <mat-form-field appearance="outline" [ngStyle]="{ height: '50px' }">
      <!-- <mat-label>Outline form field</mat-label> -->
      <input matInput formControlName="busServiceNum" />
    </mat-form-field>
  </div>

  <div>
    <label for="category">Category</label>
    <mat-form-field appearance="outline" [ngStyle]="{ height: '50px' }">
      <!-- <mat-label>Outline form field</mat-label> -->
      <input matInput formControlName="category" />
    </mat-form-field>
  </div>

  <div>
    <label for="price">Price</label>
    <mat-form-field appearance="outline" [ngStyle]="{ height: '50px' }">
      <!-- <mat-label>Outline form field</mat-label> -->
      <input matInput formControlName="price" />
    </mat-form-field>
  </div>
  <div>
    <label for="scheduleDepartureDateTime">ScheduledDateTime</label>
    <mat-form-field appearance="outline" [ngStyle]="{ height: '50px' }">
      <!-- <mat-label>Outline form field</mat-label> -->
      <input
        type="datetime-local"
        matInput
        formControlName="scheduleDepartureDateTime"
      />
    </mat-form-field>
  </div>
  <div>
    <button type="submit" mat-raised-button color="primary">Add Book</button>
  </div>
</form>
